
.people-modal{
    width: fit-content !important;
    .peopleModalWrapper{
        display: flex;
        flex-direction: row;
        .peopleSubdetail{
            margin-left: 10px;
        }
    }
    .ant-space{
        overflow: auto;
        width: 100%;
        height: 200px;
        padding: 10px;
        border: 1px solid #e8e8e8;
    }
}